#title
{
  background-color: #ff4c68;
  color:#fff;
}
body{
  font-family: "Montserrat";
}
h1
{
  font-family: "Montserrat",Black;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight:900;

}
h2{
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

h3{
  font-family: "Montserrat";
  font-weight: bold;

}
.container-fluid{
  padding:3% 15% 7%;
}

/* Navigation Bar */
.navbar-brand{
  font-family: "Ubuntu";
  font-size:2.5rem;
  font-weight:bold;
}
.nav-item{
  padding:0 18px;
}
.navbar{
  padding-bottom:4.5rem;
}
.nav-link{
  font-size:1.2rem;
  font-family: "Montserrat",Light;
}
.dowload-button{
  margin:5% 3% 5% 0;
}

/* Title Image */
.title-image{
  width:60%;
  transform: rotate(25deg);
  position: absolute;

}

/* Features  */

.feature-headings{
  font-family: "montserrat";
  font-weight: bold;
  font-size: 1.5rem;
}
.feature-desc {
  color:#8F8F8F;
}
p{
    color:#8F8F8F;
}
#features{
  position: relative;
  z-index: 1;
  padding:7% 15%;
  background-color: #fff;
}
.feature-box{
   text-align: center;
  padding:5%;
}
.feature-icons{
margin-bottom: 0.5rem;
color:#EF8172;
}
.feature-icons:hover{
  color:#FF4C68;
}

/* Testimonials */
#testimonials{

    text-align: center;
    background-color:#EF8172;
    color:#fff;
}
.testimonial-image{
  width:10%;
  border-radius: 100%;
  margin:20px;
}
.carousel-item{
  padding:7% 15%;
}
#press{
    background-color:#EF8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
  width:15%;
  margin:20px 20px 50px 20px;
}

/* Pricing Section */
#pricing{
  padding:100px;
}
.pricing-column{
  padding:3% 2%;
}

/* Media Query */
@media (max-width:1028px) {
  .title-image{
    position: static;
    transform:rotate(0);
  }
}

/* Call to Action */
#cta{
  background-color:#FF4C68;
  text-align: center;
  color:#fff;
}
#cta-heading{
  padding-top:3.125rem;
  margin:auto;
}

/* Footer */
#footer{
  background-color: #fff;
  text-align: center;
  padding:2%;
}
